* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    
}

p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;

}
hr {
    width: 80%;
    margin: auto;
}

.header button {
    position: absolute;
    margin-top: -30px;
    right: 25%;
}

.header i {
    font-size: 28px;
}

.to-do {
    margin-top: 40px;
    width: 60%;
}

.insert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.listInsert {
    border: none;
    background-color: lightgrey;    
    border-radius: 10px;
    display: flex;;
    text-align: center;    
    box-shadow: 6px 5px 10px 0 darkgray;
    font-size: xx-large
}

.listInsert:focus {
    outline: none;
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.bxs-plus-circle {
    font-size: 30px;
    margin-left: 10px;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    color: #fefefe;
    
    
}

.divLi {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0 darkgray;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}


.divLi span {
    width: 80%;
    outline: none;
    accent-color: currentcolor;
    color: black;
}

.divLi i {
    font-size: 22px;
    color: black;
}


.line-through {
    text-decoration: line-through;
}

@media (max-width: 775px) {
    input {
      width: 70%;
    }
  
    .listInsert button {
      width: 30%;
    }
  
    i {
      font-size: 30px;
      padding: 0px;
    }
  
    p {
      font-size: x-large;
    }
  }