* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    
}

p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2vw;

}
hr {
    width: 80%;
    margin: auto;
}

header button {
    position: absolute;
    margin-top: -30px;
    right: 18%;
}

header i {
    font-size: 22px;
}

.to-do {
    margin-top: 40px;
    width: 100%;
}

.insert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.listInsert {
    border: none;
    background-color: lightgrey;    
    border-radius: 10px;
    display: flex;
    text-align: center;    
    box-shadow: 6px 5px 10px 0 darkgray;
    font-size: xx-large
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.bxs-plus-circle {
    font-size: 30px;
}